/* COMMON */
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
img {
  display: block;
}


/* HEADER */
header {
  
}
header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {

}


/* bw-head */
.bw-head {
  background-color: royalblue;
}
.bw-head .inner {
  width: 1100px;
  height: 100px;
  margin: 0 auto;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bw-head .inner ul.menu {
  display: flex;
  justify-content: center;
}
.bw-head .inner ul.menu li {
  
}
.bw-head .inner ul.menu li a {
  background-color: white;
  display: block;
  padding: 11px 16px;
  font-size: 18px;
  margin: 0 80px;
}